* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}



body{
	margin-top: 100px
}
.title{
	margin-left: auto;
	margin-right: auto;
	max-width: 935px
} 
.app {
    display: flex;
}
.screenshot{
	margin-left: auto;
	max-width: 460px
}

.img{
	width: 400px
}
.description {
	margin-left: 30px;
	margin-right: auto;
	color: red;
	max-width: 505px
}

