
/* For debug purpose
* {
   outline: 1px solid red !important;
}
*/


body{
	font-family: Lato, sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

hr {
	border-color: #2d3c49;
	border-width: 2px;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 100;
}


.title-super {
	font-size: 60px;
}

.title-logo {
	width: 120px;
	margin-top: 20px;
}

.img-responsive {
    margin: 0 auto;
}

@media screen and (min-width: 900px) {
	.container {
		width: 900px;
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 13px;
	}
	.title-super {
		font-size: 35px;
	}
	.title-logo {
		width: 80px;
		margin-top: 5px;
	}
	.text-muted{
		font-size: 30px;
	}
}